/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  margin: 0 70px;
  font-size: 10px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}
nav a {
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 70px;
  text-decoration: none;
  color: #303030;
  font-size: 1.2rem;
}
header .main-container {
  height: 90%;
  background-color: #d3edf7;
  width: 100%;
  margin-bottom: 30px;
}
header .main-container img {
  margin-left: 60px;
  margin-top: 60px;
  height: 65vh;
  width: 50vw;
}
header .main-container h1 {
  margin-left: 50px;
  font-size: 4rem;
  margin-top: 30px;
  color: #303030;
}
@media screen and (max-width: 800px) {
  header .main-container h1 {
    font-size: 2rem;
  }
}
header .main-container p {
  margin: 30px 50px;
  font-size: 1.2rem;
  color: #303030;
  line-height: 1.4;
}
header .main-container button {
  margin: 0 40px 100px;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: grey;
  color: #fff;
}
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303030;
}
.skills .left-skills,
.skills .right-skills {
  width: 48%;
}
.skills .left-skills h2 {
  font-size: 2rem;
}
.skills .left-skills p {
  font-size: 1.2rem;
  line-height: 1.4;
}
.skills .right-skills ul {
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: left;
}
.skills .right-skills ul h2 {
  font-size: 1.2rem;
  color: red;
}
.skills .right-skills li {
  border: 1px solid #303030;
}
