// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	margin: 0 70px;
	font-size: 10px;

}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;

}

// variables 
@main-color: rgb(211, 237, 247);
@text-color: rgb(48, 48, 48);
@line-height: 1.4;
@font: 1.2rem;

// mixin 
.border() {
	border: 1px solid @text-color;
}

.centerFlex() {
	display: flex;
	justify-content: center;
	align-items: center;
}


nav {
	.centerFlex();
	justify-content: flex-end;
	margin-bottom: 40px;

	a {
		margin-left: 10px;
		margin-top: 30px;
		margin-right: 70px;
		text-decoration: none;
		color: @text-color;
		font-size: 1.2rem;

		@media screen and (max-width:520px) {
			margin-right: 20px;
		}

		//media query
	}

	//a end;
}

//nav end




//////////////////// header
header .main-container {
	height: 90%;
	background-color: @main-color;
	width: 100%;
	margin-bottom: 30px;

	// margin-bottom: 400px;
	img {
		margin-left: 60px;
		margin-top: 60px;
		height: 65vh;
		width: 50vw;
	}

	//img close
	h1 {
		margin-left: 50px;
		font-size: 4rem;
		margin-top: 30px;
		color: @text-color;

		@media screen and (max-width:800px) {
			font-size: 1.6rem;
		}

		//media query
	}

	//h1
	p {
		margin: 30px 50px;
		font-size: 1.2rem;
		color: @text-color;
		line-height: @line-height;
	}

	button {
		margin: 0 40px 100px;
		padding: 10px 30px;
		font-size: 1.2rem;
		border-radius: 5px;
		background-color: grey;
		color: #fff;

		@media screen and (max-width:520px) {
			margin-left: 25%;
			text-align: center;
		}
	}
}

//head main

// Skills section////////////////////////

.skills {
	.centerFlex();
	color: @text-color;

	@media screen and (max-width:520px) {
		flex-direction: column;
		width: 100%;
	}

	.left-skills,
	.right-skills {
		width: 48%;

		@media screen and (max-width:520px) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

//left side///////
.left-skills {
	h2 {
		font-size: 2rem;
	}

	p {
		font-size: @font;
		line-height: @line-height;
		margin-right: 20px;
	}

	@media screen and (max-width:520px) {
		width: 100%;
	}
}

//right side
.right-skills {
	ul {
		font-size: @font;
		line-height: @line-height;
		text-align: left;
		margin-bottom: 60px;
	}

	h2 {
		font-size: 2rem;
	}

	li {
		.border();
		padding: 10px;

	}
}

.bottom-main {
	table {
		font-size: 1.6rem
	}

	h2 {
		font-size: 2rem;
		color: @text-color;
		margin-bottom: 20px;

		@media screen and (max-width:520px) {
			text-align: center;
			font-size: 1.5rem
		}
	}

	.table-odd td {
		background-color: rgb(205, 199, 199);
		padding: 15px;
	}

	.table-even td {
		background-color: rgb(230, 230, 230);
		padding: 15px;
	}

	td {
		@media screen and (max-width:520px) {
			font-size: 1.1rem;
		}
	}

	.table-titles {
		color: @text-color;
		margin-left: -200px;
		margin-top: 200px;
	}
}

//bottom main

footer {
	.centerFlex();
	background-color: grey;
	margin-top: 20px;
	height: 20vh;

	h2 {
		font-size: 1.2rem;
		color: #fff;

	}
}